@font-face {
  font-family: "RobotoMono";
  src: url("font/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family-primary: "RobotoMono", sans-serif, Arial;
  --font-size-primary: 1.2rem;
  --white: #fff;
  --color-purple-primary: #41295a;
  --color-purple-secodary: #2f0743;
  --bg-color: linear-gradient(
    to right,
    var(--color-purple-primary),
    var(--color-purple-secodary)
  );
}

* {
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100vh;
  font-size: var(--font-size-primary);
  background: var(--bg-color);
  color: var(--white);
  scroll-behavior: smooth;
}

body,
main {
  height: 100%;
}

footer {
  margin-top: 32px;
  text-align: center;
}

.container {
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

picture {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

.myself-image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

h1 {
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
}

.social-network {
  border: 1px solid var(--white);
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 30px;
  text-align: center;
}

.social-network a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.social-network:hover {
  color: var(--color-purple-secodary);
  background-color: var(--white);
}
