@font-face {
  font-family: "RobotoMono";
  src: url("../src/assets/font/RobotoMono-Regular.ttf") format("truetype");
}

:root {
  --font-family: "RobotoMono", sans-serif, Arial;
  --font-size: 1.2rem;
  --white: #fff;
  --color-black-primary: #232526;
  --color-black-secodary: #414345;
  --bg-color: linear-gradient(
    to right,
    var(--color-black-primary),
    var(--color-black-secodary)
  );
}

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
  scroll-behavior: smooth;
  color: var(--white);
  margin: 0;
}

html {
  background: var(--bg-color);
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 1em;
  margin: 0 auto;
  box-sizing: border-box;
}

picture {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

h1 {
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1rem;
}

a {
  display: block;
  
  text-decoration: none;
  color: inherit;
  
  border: 1px solid var(--white);
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 2rem;
  text-align: center;
  word-wrap: break-word;
  transition: 1s;
}

a:hover {
  color: var(--color-black-secodary);
  background-color: var(--white);
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}